<div class="conteiner, firstSection">
  <div class="header">
    <div class="logoRight">
      <div class="section1">
        <p class="h3 bolt">1</p>
      </div>
      <div class="section2">
        <p class="h4">Spot Remaining
          <br>
          <div class="section3">
            <p class="headerText h4">in </p> <img src="http://pngimg.com/uploads/flags/flags_PNG14657.png" alt="">
            <p class="headerText h4 bolt">ISRAEL</p>
          </div>
      </div>
    </div>
    <p class="logoText h2 text-center">DUBAI LIFESTYLE APP </p>
  </div>
  <div class="mainText">
    <div class="firstLine">
        <p>Be One Of </p> <p class="bolt"> 100 BETA TESTERS </p> <p>To Profit</p>
    </div>

<div class="secondLine" >
  <p>From The </p> <p class="bolt"> DUBAI LIFESTYLE APP </p>
</div>

  </div>
  <div class="slider  ">
    <p><img src="assets/img/slider.png" alt=""></p>
  </div>
  <div class="form1">
    <label>
      <input type="text" placeholder="Enter Your Name" [formControlName]="firstName" required>
      <p>
  Form Status: {{ profileForm.status }}
</p>
    </label>
    <label>
      <input type="text" placeholder="Enter Your Email" [formControlName]="firstName" required>
    </label>
  </div>
  <div class="">
    <p class="buttonSing"><input type="submit" name="" value="GET FREE ACCESS"></p>
  </div>
  <div class="logo">
    <p><img src="assets/img/logo.png" alt="logo"></p>
  </div>
</div>
