<div class="container">
  <div class="secondBlock">
    <div class="text1">
      <p>Meet Scott Hathaway</p>
    </div>
    <div class="text2">
      <p>CEO & Founder, DUBAI LIFESTYLE APP</p>
    </div>
    <div class="secondImg">
      <p><img src="assets/img/firstImg.png" alt=""></p>
    </div>
    <div class="text3">
      <div class="firstLine">
        <p>If you heven't yet, the</p>
        <p class="bold"> DUBAI LIFESTYLE APP </p>
        <p>has just launched internationally</p>
      </div>
      <div class="secondLine">
        <p>and we're looking for </p>
        <p class="bold orangeText">100 beta testers </p>
        <p> to make profits of over</p>
      </div>
    </div>
    <div class="text4">
      <p class="dollar">$</p>
      <p class="point">7000</p>
      <p class="aDay">a Day</p>
    </div>
    <div class="text5">
      <p>Watch the video now to see how you can join us - </p>
      <p class="orangeText"> FREE</p>
    </div>
    <div class="secondImg">
      <p><img src="assets/img/imgTeam.png" alt=""></p>
    </div>
    <div >
      <div class="text6">
        <p>Your Friends,</p>
      </div>
      <div class=text7>
        <p>The</p>
        <p class="bold">DUBAI LIFESTYLE APP</p>
        <p>Team</p>
      </div>


      </div>
      <div class="text8">
          <p>What People Are Saying</p>
      </div>
      <div class="comments">
        <p class="com1">By</p><p class="com2">Lincoln Tremlin</p> <p class=com1>on April 10,2016</p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
      </div>
      <div class="comments2">
        <p class="com3">Verified Member</p>
        <p class="com1">For the past 3 years, I tried everything you could imagine to profit online. But I was scammed every single time. This was my last shot. And I couldn’t be happier to announce that I made my first $6,8</p>

      </div>

  </div>
</div>
